extends layoutadmin

block content
    h1  Strona nauczyciela
    p Witaj ponownie,  #{user.imieNauczyciela}  #{user.nazwiskoNauczyciela} #{user.EmailNauczyciela} !
    //https://www.youtube.com/watch?v=9Y_xHn2gHWY
    
    p 