extends layoutadmin

block content
    h1  Strona rodzica 
    p Witaj ponownie, #{user.imieRodzica} #{user.nazwiskoRodzica} #{user.Uczen_idUcznia} !
    //https://www.youtube.com/watch?v=9Y_xHn2gHWY
    
    p 