extends layoutadmin

block content
    h1  Strona ucznia 
    p Witaj ponownie,  #{user.imieUcznia}  #{user.nazwiskoUcznia} #{user.Klasa_nazwaKlasy} !
    //https://www.youtube.com/watch?v=9Y_xHn2gHWY
    
    p 
        
        
          
